/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 25
#define LOWER   1
#define RAISE   2

/ {
    behaviors {
        hrl: hrl {
            compatible = "zmk,behavior-hold-tap";
            label = "HRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <1>;
            hold-trigger-key-positions = <7 6 18 30 31 19 8 20 32 33 9 21 34 22 10 11 23 35>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <1>;
            hold-trigger-key-positions = <0 12 24 25 13 1 2 14 26 27 15 3 4 28 16 29 17 5>;
        };

        mod_rgb_effect: mod_rgb_effect {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_RGB_EFFECT";
            bindings = <&rgb_ug RGB_EFF>, <&rgb_ug RGB_EFR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        mod_rgb_hue: mod_rgb_hue {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_RGB_HUE";
            bindings = <&rgb_ug RGB_HUI>, <&rgb_ug RGB_HUD>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        mod_rgb_sat: mod_rgb_sat {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_RGB_SAT";
            bindings = <&rgb_ug RGB_SAI>, <&rgb_ug RGB_SAD>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        mod_rgb_brightness: mod_rgb_brightness {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_RGB_BRIGHTNESS";
            bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        mod_ext_power: mod_ext_power {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_EXT_POWER";
            bindings = <&ext_power EP_TOG>, <&ext_power EP_OFF>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        mod_output: mod_output {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_OUTPUT";
            bindings = <&out OUT_TOG>, <&out OUT_USB>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        mod_bt_choose_0: mod_bt_choose_0 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_BT_CHOOSE_0";
            bindings = <&bt BT_SEL 0>, <&bt BT_CLR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        mod_bt_choose_1: mod_bt_choose_1 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_BT_CHOOSE_1";
            bindings = <&bt BT_SEL 1>, <&bt BT_CLR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        mod_bt_choose_2: mod_bt_choose_2 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_BT_CHOOSE_2";
            bindings = <&bt BT_SEL 2>, <&bt BT_CLR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        mod_bt_choose_3: mod_bt_choose_3 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_BT_CHOOSE_3";
            bindings = <&bt BT_SEL 3>, <&bt BT_CLR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        To_Qwerty {
            bindings = <&mo 1>;
            key-positions = <0 12 24>;
            layers = <0>;
        };

        To_Colemak {
            bindings = <&mo 0>;
            key-positions = <0 12 24>;
            layers = <1>;
        };

        Genpd1 {
            bindings = <&wp1>;
            key-positions = <10 22 34>;
            layers = <2>;
        };

        Genpd2 {
            bindings = <&wp2>;
            key-positions = <9 21 33>;
            layers = <2>;
        };

        cmbBackspace {
            bindings = <&kp J>;
            key-positions = <25 26>;
            layers = <0 1>;
        };

        cmbEnter {
            bindings = <&key_repeat>;
            key-positions = <24 25>;
            layers = <0 1>;
        };

        cmbRepeat {
            bindings = <&key_repeat>;
            key-positions = <27 28>;
            layers = <0 1>;
        };
    };

    macros {
        wp1: wp1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(A) &kp BACKSPACE &kp AT &kp LS(T) &kp I &kp N0 &kp N2 &kp C &kp A &kp N0 &kp N9 &kp ENTER>;
            label = "WP1";
        };

        wp2: wp3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(A) &kp BACKSPACE &kp AT &kp LS(A) &kp N &kp H &kp K &kp H &kp O &kp I &kp N1 &kp N4 &kp B &kp E &kp N &kp G &kp O &kp C &kp ENTER>;
            label = "WP3";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default_layer {
            bindings = <
&none  &kp Q            &kp W            &kp F                &kp J              &kp COMMA    &kp PERIOD      &kp L               &kp U                 &kp Y            &kp SQT           &none
&none  &hrl LEFT_GUI A  &hrl LEFT_ALT R  &hrl LEFT_CONTROL S  &hrl LEFT_SHIFT T  &kp G        &kp M           &hrm RIGHT_SHIFT N  &hrm RIGHT_CONTROL E  &hrm LEFT_ALT I  &hrm RIGHT_GUI O  &none
&none  &kp Z            &kp X            &kp C                &kp D              &kp V        &kp K           &kp H               &kp P                 &kp B            &kp FSLH          &none
                                         &lt 8 ESCAPE         &lt 2 SPACE        &lt 3 TAB    &lt 4 KP_ENTER  &lt 5 BACKSPACE     &lt 6 RIGHT_ALT
            >;

            label = "DEF";
        };

        Alternative {
            bindings = <
&none  &kp Q            &kp W            &kp E                &kp R              &kp T        &kp Y           &kp U               &kp I                 &kp O            &kp P                     &none
&none  &hrl LEFT_GUI A  &hrl LEFT_ALT S  &hrl LEFT_CONTROL D  &hrl LEFT_SHIFT F  &kp G        &kp H           &hrm RIGHT_SHIFT J  &hrm RIGHT_CONTROL K  &hrm LEFT_ALT L  &hrm RIGHT_GUI SEMICOLON  &none
&none  &kp Z            &kp X            &kp C                &kp V              &kp B        &kp N           &kp M               &kp COMMA             &kp DOT          &kp FSLH                  &none
                                         &lt 8 ESCAPE         &lt 2 SPACE        &lt 3 TAB    &lt 4 KP_ENTER  &lt 5 BACKSPACE     &lt 6 RIGHT_ALT
            >;

            label = "ALT";
        };

        Nav {
            bindings = <
&none  &bootloader   &none         &none             &none                     &none                    &kp LS(LG(Z))  &kp LG(V)      &kp LG(C)       &kp LG(X)     &kp LG(Z)        &none
&none  &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT            &none                    &caps_word     &kp LEFT       &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none
&none  &none         &none         &none             &sk LS(LA(LC(LEFT_GUI)))  &kp LS(LA(LC(LG(V))))    &kp INSERT     &kp HOME       &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &none
                                   &none             &none                     &none                    &kp ENTER      &kp BACKSPACE  &kp DELETE
            >;

            label = "NAV";
        };

        Mouse {
            bindings = <
&none  &bootloader   &none          &none             &none           &none                   &kp K_AGAIN  &kp K_PASTE     &kp K_COPY      &kp K_CUT     &kp K_UNDO       &none
&none  &kp LEFT_GUI  &kp LEFT_ALT   &kp LEFT_CONTROL  &kp LEFT_SHIFT  &kp LS(LG(NUMBER_4))    &none        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none
&none  &none         &kp RIGHT_ALT  &none             &none           &none                   &none        &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none
                                    &none             &none           &none                   &mkp MB2     &mkp MB1        &mkp MB3
            >;

            label = "MOUSE";
        };

        Symbol {
            bindings = <
&none  &kp LEFT_BRACE  &kp AMPERSAND    &kp ASTERISK          &kp LEFT_PARENTHESIS   &kp RIGHT_BRACE    &none  &none      &none      &none     &none     &none
&none  &kp COLON       &kp DOLLAR       &kp PERCENT           &kp CARET              &kp PLUS           &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &none
&none  &kp TILDE       &kp EXCLAMATION  &kp AT_SIGN           &kp HASH               &kp PIPE           &none  &none      &none      &kp RALT  &none     &none
                                        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE     &none  &none      &none
            >;

            label = "SYM";
        };

        Num {
            bindings = <
&none  &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT     &kp PERIOD  &kp COMMA  &none      &none     &none     &none
&none  &kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL    &none       &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &none
&none  &kp GRAVE  &kp N1  &kp N2   &kp N3  &kp BSLH     &none       &none      &none      &kp RALT  &none     &none
                          &kp DOT  &kp N0  &kp MINUS    &none       &none      &none
            >;

            label = "NUM";
        };

        Func {
            bindings = <
&none  &kp F12  &kp F7  &kp F8    &kp F9     &kp PRINTSCREEN    &none  &none      &none      &none     &none     &none
&none  &kp F11  &kp F4  &kp F5    &kp F6     &kp SCROLLLOCK     &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &none
&none  &kp F10  &kp F1  &kp F2    &kp F3     &kp PAUSE_BREAK    &none  &none      &none      &kp RALT  &none     &none
                        &kp RGUI  &kp SPACE  &kp TAB            &none  &none      &none
            >;

            label = "FUNC";
        };

        Buttons {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Media {
            bindings = <
&none  &none     &none          &none      &none      &none    &rgb_ug RGB_TOG  &mod_rgb_effect   &mod_rgb_hue      &mod_rgb_sat       &mod_rgb_brightness  &none
&none  &kp LGUI  &kp LALT       &kp LCTRL  &kp LSHFT  &none    &mod_ext_power   &kp C_PREV        &kp C_VOLUME_UP   &kp C_VOLUME_DOWN  &kp C_NEXT           &none
&none  &none     &kp RIGHT_ALT  &none      &none      &none    &mod_output      &mod_bt_choose_0  &mod_bt_choose_1  &mod_bt_choose_2   &mod_bt_choose_3     &none
                                &none      &none      &none    &kp C_STOP       &kp C_PLAY_PAUSE  &kp K_MUTE
            >;
        };

        layer_9 {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none  &none
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
